# Base URL of your app
BETTER_AUTH_URL=http://localhost:5173
# Generate a secure secret: openssl rand -base64 32
BETTER_AUTH_SECRET=

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_API_TOKEN=

# Kobun
VITE_PUBLIC_KOBUN_HOME_URL=https://kobun.io
VITE_PUBLIC_KOBUN_APP_URL=https://app.kobun.io

# PostHog
VITE_PUBLIC_POSTHOG_PROJECT_TOKEN=
VITE_PUBLIC_POSTHOG_HOST=
