# Base URL of your app
BETTER_AUTH_URL=http://localhost:5173
# Generate a secure secret: openssl rand -base64 32
BETTER_AUTH_SECRET=

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_D1_TOKEN=
